<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="zh-CN">
	<head>
		<title> 考试系统  登录</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel='stylesheet' id='login-css'  href='./templates/default/css/login.css' type='text/css' media='all' />
		<meta name='robots' content='noindex,nofollow' />
</head>
<body class="login">
	<div id="login" >
	  <h1  align="center">考试系统登录</h1>

	  <form name="loginform" id="loginform" action="cp.php?ac=login" method="post">
		<p>
		<label>用户名<br />
		<input type="text" name="username" id="user_login" class="input" value="" size="20" tabindex="10" /></label>
		</p>
		<p>
		<label>密码<br />
		<input type="password" name="password" id="user_pass" class="input" value="" size="20" tabindex="20" /></label>
		</p>
		<p class="forgetmenot"><label style="color:red;">{$error_message}</label></p>
		<p class="submit">
		<input type="submit" name="wp-submit" id="wp-submit" class="button-primary" value="登录" tabindex="100" />
		<input type="hidden" name="redirect_to" value="http://localhost/wordpress/wp-admin/" />
		<input type="hidden" name="testcookie" value="1" />
		</p>
	</form>

	<p id="nav">
		<a href="#">注册</a> |
		<a href="#" title="找回密码">忘记密码？</a>
	</p>
</div><br/>
	<!-- <p id="backtoblog"><a href="http://localhost/wordpress/" title="不知道自己在哪？">&larr; 回到</a></p> -->
	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<script type="text/javascript">
	function wp_attempt_focus()
	{
		setTimeout( function(){ try{
		d = document.getElementById('user_login');
		d.value = '';
		d.focus();
		} catch(e){}
		}, 200);
	}

	wp_attempt_focus();
	if(typeof wpOnload=='function')
		wpOnload();
</script>
</body>
</html>
