/* CSS Document */
body{
	text-align:center;
	margin: 0px;
	padding 0px;
}
#outer{
	width:950px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	clear: both;	
}
#header{
	width:950px;
	height:120px;
	background:#3399FF;
	clear: both;
}
#content{
	width:950px;
	height:400px;
	background:#c9c9c9;
	clear: both;
}
#footer{
	width:950px;
	height:100px;
	font-size:14px;
	color:#CCCCCC;
	background:#000;
	clear: both;
}