body, th, td, input, select, textarea, button {font:12px/1.6em Verdana,Helvetica,Arial,sans-serif;}
body {background:#f7f6f1;}
body, h1, h2, h3, h4, h5, h6, p, ul, dl, dt, dd, form, fieldset {margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
ul li {list-style:none;}
 
a {color:#996600;text-decoration:none;}
a:hover {text-decoration:underline;}
a img {border:none;}

.main{width:100%;}

/***********************************************HEADER   **/
.head{background-color:#21507c;color:#FFF;height:35px;}
 .head .logo{width:135px;height:35px;float:left;}
 .head .left {float:left;padding:5px;line-height:25px;}
  .head .right{float:right;padding:5px;line-height:25px;}
  .head a{color:#FFF;}
  
/***********************************************MENU   **/
.admin_menu{float:left;margin:20px;color:#21507c;}
.admin_menu .menu{padding:5px;line-height:25px;background:#eaf3fa;border:1px #e3e3e3 solid;cursor:pointer;width:145px;}
.admin_menu .menu-separator{background:none;}
.admin_menu .active a{color:#F00;}

.menu_image{float:left;width:25px;height:30px;}
#center .menu_image{background:transparent url("images/menu.png") no-repeat scroll -60px -2px;}
#site .menu_image{background:transparent url("images/menu.png") no-repeat scroll -210px -2px;}
#privacy .menu_image{background:transparent url("images/menu.png") no-repeat scroll -240px -2px;}
#firend .menu_image{background:transparent url("images/menu.png") no-repeat scroll -180px -2px;}
#urecommend .menu_image{background:transparent url("images/menu.png") no-repeat scroll -120px -2px;}
#usergroup .menu_image{background:transparent url("images/menu.png") no-repeat scroll -300px -2px;}
#userbatch .menu_image{background:transparent url("images/menu.png") no-repeat scroll -270px -2px;}
#data .menu_image{background:transparent url("images/menu.png") no-repeat scroll -150px -2px;}
#ad .menu_image{background:transparent url("images/menu.png") no-repeat scroll -30px -2px;}
#blog .menu_image{background:transparent url("images/menu.png") no-repeat scroll -90px -2px;}
#cache .menu_image{background:transparent url("images/menu.png") no-repeat scroll -0px -2px;}


/***********************************************MENU   **/
.main_header{margin:20px 200px;}

.main_header .icon32{float:left;width:36px;height:36px;}
.main_header h2{float:left;padding-top:5px ;font-size:24px;line-height:30px;font-family:"ºÚÌå";}

.content{margin-top:80px;margin-left:50px; padding-left:180px;}
#icon-center{background:transparent url(images/icons32-vs.png) no-repeat -135px -5px;}
#icon-site{background:transparent url(images/icons32-vs.png) no-repeat -432px -5px;}
#icon-privacy{background:transparent url(images/icons32-vs.png) no-repeat -492px -5px;}
#icon-firend{background:transparent url(images/icons32-vs.png) no-repeat -372px -5px;}
#icon-urecommend{background:transparent url(images/icons32-vs.png) no-repeat -252px -5px;}
#icon-usergroup{background:transparent url(images/icons32-vs.png) no-repeat -600px -5px;}
#icon-userbatch{background:transparent url(images/icons32-vs.png) no-repeat -552px -5px;}
#icon-data{background:transparent url(images/icons32-vs.png) no-repeat -310px -5px;}
#icon-ad{background:transparent url(images/icons32-vs.png) no-repeat -72px -5px;}
#icon-blog{background:transparent url(images/icons32-vs.png) no-repeat -190px -5px;}
#icon-cache{background:transparent url(images/icons32-vs.png) no-repeat -12px -5px;}

.mainbox{ margin: 5px 10px; padding:5px 10px; background:#FFF; border:#CCC 1px solid;}
.formtable th{ width:250px;padding:5px 0;line-height:25px;}
.formtable td{ padding-left:10px; font-size: 12px;color:#222;text-shadow:#fff 0 1px 0;padding:5px 0; line-height:25px;}
.formtable .input{ width:200px; height:20px; border: #e5e5e5 1px solid;}
.submit{font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;padding:3px 10px;border:none;font-size:12px;border-width:1px;border-style:solid;-moz-border-radius:11px;-khtml-border-radius:11px;-webkit-border-radius:11px;border-radius:11px;cursor:pointer;text-decoration:none;margin-top:10px; margin-left:50px;}
.inputtype{
	width:200px;
	height:18px;
}
.date{
	width:35px;
	height:16px;
}
/***********************************************FOOTER **/
.footer{text-align:center;margin-top:30px;}