<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="templates/default/css/style.css" type="text/css" />
<link rel="stylesheet" href="templates/default/css/backyard.css" type="text/css" />
<script type="text/javascript" src="./fckeditor/fckeditor.js"></script>
<!-- fancybox required file start-->
<script type="text/javascript" src="./js/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="./fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" href="./fancybox/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
<!-- fancybox required file end-->
<script type="text/javascript" src="./js/common.js"></script>
<!-- include ajax start-->
<script type="text/javascript" src="./js/ajax.js"></script>
<!-- include ajax end-->
<title>网站后台管理</title>
<!-- fancybox 调用jQuery start -->
<script type="text/javascript">
$(document).ready(function() {
	
	$("a.pro_des").fancybox();
	
	$("a.show_info").fancybox();
	
	$("a.inline").fancybox();
	
});
</script>
<!-- fancybox 调用jQuery end -->
</head>

<body>
<div class="head"><h1 class="left"><span id="site-title">后台</span></h1> 
<div class="right">
<a href="cp.php?ac=home">admin</a> | <a href="cp.php?ac=home" title="退出">退出</a>
</div>
</div>
<ul class="admin_menu">
	<li id="center" class="menu"><a href="admincp.php">控制中心</a></li>
	<li class="menu-separator"><a class="separator" href="?unfoldmenu=1"><br /></a></li> 
	<li id="urecommend" class="menu"><a href="admincp.php?ac=problem">题库管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=paper">试卷管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=test">考试管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=perusal">改卷管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=group">用户组管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=user">用户管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=major">科目管理</a></li>
	<li id="urecommend" class="menu"><a href="admincp.php?ac=knowledge">知识点管理</a></li>
	<div class="footer">Copyright &copy; 2010<br />All Rights Reserved</div>
</ul>

